// Обнуляющие стили
@import "nullstyle.scss";
body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
body.lock {
    overflow: hidden;
}
.container {
    width: 1155px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-2 {
    width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 10px 24px;
    background: #FF7A00;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    &:hover {
        background: #ee8d32;
    }
}
.title {
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}
.map {
    width: 50%;
    height: 300px;
}
.nav__burger {
    display: none;
}
/* Header */
.header_fixed {
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}
.header {
    &-top {
        background: #017EB1;
        padding: 10px 0;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__map, &__phone {
        display: flex;
        align-items: center;
        & img {
            margin-right: 10px;
        }
        & span, a {
            font-size: 14px;
            line-height: 19px;
            color: #fff;
        }
    }
    &__phone a:nth-child(3) {
        margin-left: 20px;
    }
    &-bottom {
        padding: 10px 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &-menu {
        &__item {
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: #000000;
            margin-left: 30px;
            transition: 0.5s;
            &:hover {
                color: #FF7A00;
            }
        }
    }
}
/* Offer */
.offer {
    margin-top: 45px;
    height: auto;
    background: url("../img/offer_bg.jpg") no-repeat top center/cover;
    border-radius: 50px;
    &-inner {
        padding-left: 55px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__title {
        width: 50%;
        font-weight: 600;
        font-size: 40px;
        line-height: 124.68%;
        margin-bottom: 30px;
        transform: translate(0, 120%);
        opacity: 0;
        transition: 0.8s;
    }
    &__title._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &__subtitle {
        width: 48%;
        font-size: 16px;
        line-height: 124.68%;
        margin-bottom: 70px;
        transform: translate(0, 120%);
        opacity: 0;
        transition: all 0.8s ease 1s;
    }
    &__subtitle._active {
        transition: all 0.8s ease 0.4s;
        transform: translate(0, 0);
        opacity: 1;
    }
}
/* Services */
.services {
    margin-top: 90px;
    &-inner {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
            width: 260px;
            min-height: 230px;
            padding: 30px 10px;
            margin-bottom: 50px;
            border: 3px solid #017EB1;
            border-radius: 40px;
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            color: #000;
            transition: 0.5s;
            cursor: pointer;
            & img {
                margin-bottom: 35px;
            }
        }
    }
    &__descrip {
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 20px;
        display: none;
    }
    &__price {
        width: 120px;
        margin: 0 auto;
        padding: 5px 20px;
        background: #FF7A00;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        display: none;
    }
}
/* About */
.about {
    padding-top: 115px;
    padding-bottom: 150px;
    background: url("../img/about_bg.jpg") no-repeat top center/cover;
    &-inner {
        margin-top: 80px;
    }
    &__title {
        color: #fff;
    }
    &__descrip {
        font-weight: 600;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 50px;
    }
    &-slider__item {
        margin-right: 15px;
    }
}
/* advantages */
.advantages {
    &-inner {
        margin-top: 85px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            margin-top: 20px;
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }
        &__text {
            width: 250px;
            margin-top: 20px;
            line-height: 20px;
            text-align: center;
            color: #000;
        }
    }
    &-btn {
        text-align: center;
    }
}
/* Footer */
.footer {
    margin-top: 70px;
    background: #4F4B4B;
    padding: 25px 0; 
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__info {
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
        }
        &__phone, &__email {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
        &__phone {
            margin-bottom: 10px;
        }
        &__copyright {
            margin-top: 85px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
        &__social {
            display: flex;
            align-items: center;
            & img {
                margin-right: 5px;
            }
        }
}
/* Slider */
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slick-dots {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
}
.slick-dots button {
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 0;
    outline: none;
    cursor: pointer;
}
.slick-active {
    outline: none;
}
.slick-dots .slick-active button {
    background: #FF7A00;
}
/* Popup */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: 0.5s;
    overflow-x: hidden;
    &-inner {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    &__content {
        align-items: center;
        background: #FFFFFF;
        border-radius: 28px;
        max-width: 310px;
        color: #000;
        padding: 24px 30px 40px 30px;
        transition: 0.8s;
        opacity: 0;
        transform: translate(0px, -100%);
    }
    &__content-2 {
        max-width: 650px;
        width: 650px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        & img {
            margin-top: -20px;
            margin-right: -13px;
            cursor: pointer;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
    }
    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & input, textarea {
            width: 250px;
            border: 1px solid #C4C4C4;
            padding: 13px 17px;
            margin-bottom: 25px;
            transition: 0.5s;
            &::placeholder {
                font-size: 14px;
            }
            &:focus {
                border: 1px solid #017EB1;
                box-shadow: 2px 2px 10px rgba(1, 126, 177, 0.25);
            }
            &._error {
                border: 1px solid red;
                box-shadow: 2px 2px 10px red;
            }
        }
    }
    &-form-2 {
        margin-right: 13px;
    }
    &-btn {
        font-size: 14px;
        padding: 8px 40px;
    }
    &-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
            width: 280px;
            border: 1px solid #C4C4C4;
            padding: 15px 20px;
            margin-bottom: 30px;
            & h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 15px;
            }
            & p {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 25px;
            }
        }
        & span {
            width: 100%;
            text-align: center;
            padding: 30px 0;
            font-weight: 600;
            font-size: 18px;
            border: 4px solid #FF7A00;
            margin-bottom: 50px;
        }
    }
    &__price {
        display: inline-flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 4px 20px;
        background: #FF7A00;
    }
    &__text {
        width: 285px;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
    }
}
.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content{
    opacity: 1;
    transform: translate(0px, 0%);
}
/* Мобильная версия */
@media screen and (max-width: 1160px) {
    .container {
        width: 100%;
    }
    .container-2 {
        width: 100%;
    }
    .offer__title {
        font-size: 38px;
    }

}
@media screen and (max-width: 1080px) {
    .offer__title {
        font-size: 36px;
    }
    .offer-inner {
        padding-left: 45px;
    }
    .offer__subtitle {
        width: 45%;
        font-size: 14px;
    }
}
@media screen and (max-width: 1020px) {
    .offer__title {
        font-size: 34px;
    }
}
@media screen and (max-width: 970px) {
    .offer__title {
        font-size: 30px;
    }
    .offer__subtitle {
        width: 46%;
    }
    .offer-inner {
        padding-left: 30px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media screen and (max-width: 860px) {
    .header-inner-1 {
        flex-direction: column;
        align-items: center;
    }
    .header__map {
        align-items: start;
    }
    .header__map span {
        margin-bottom: 5px;
    }
    .header__map span, .header__phone span, .header__phone a {
        font-size: 14px;
    }
    .nav {
        display: none;
    }
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .header-menu li {
        margin-bottom: 25px;
    }
    .header-menu__item {
        margin-left: 0;
        font-size: 18px;
    }
    .nav__burger {
        display: block;
        width: 30px;
        height: 24px;
        position: relative;
    }
    .nav__burger span {
        position: absolute;
        background: #000;
        width: 100%;
        height: 2px;
        top: 11px;
        transition: 0.3s;
    }
    .nav__burger:before,
    .nav__burger:after {
        content: '';
        background: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: 0.3s;
    }
    .nav__burger:before {
        top: 0;
    }
    .nav__burger:after {
        bottom: 0;
    }
    .nav__burger.active:before {
        transform: rotate(45deg);
        top: 11px;
        z-index: 2;
    }
    .nav__burger.active:after {
        transform: rotate(-45deg);
        bottom: 11px;
        z-index: 2;
    }
    .nav__burger.active span {
        transform: scale(0);
    }
    .nav__wrapper {
        background: #fff;
        position: fixed;
        height: 350px;
        left: 100%;
        z-index: 1;
        transition: 0.5s;
        right: 0;
        top: 0;
        overflow: hidden;
    }
    .nav__wrapper.active {
        left: 0;
    }
    .title {
        font-size: 24px;
    }
    .offer__title {
        width: 100%;
        font-size: 28px;
    }
    .offer__subtitle {
        width: 70%;
        font-size: 12px;
    }
    .btn {
        font-size: 16px;
    }
    .offer-inner {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .services {
        margin-top: 50px;
    }
    .services-inner {
        margin-top: 49px;
        justify-content: space-around;
    }
    .services-inner__item {
        padding: 20px 5px;
    }
    .about {
        margin-top: -20px;
        padding-top: 95px;
        padding-bottom: 110px;
    }
    .about__descrip {
        font-size: 18px;
    }
    .about-inner {
        margin-top: 50px;
    }
    .slick-dots button {
        width: 15px;
        height: 15px;
    }
    .advantages-inner {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .advantages-inner__item {
        margin-bottom: 40px;
    }
    .footer-inner {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .map {
        width: 100%;
        height: 250px;
    }
    .footer-wrapper__column {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__info {
        margin-bottom: 35px;
    }
    .footer__social img {
        margin-right: 25px;
        width: 85%;
    }
    .footer__copyright {
        margin-top: 45px;
    }
    .popup-form-2 {
        margin-right: 0;
    }
}
@media screen and (max-width: 615px) {
    .popup-block {
        justify-content: center;
    }
    .popup__text {
        text-align: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    .header__map span, .header__phone span, .header__phone a {
        font-size: 12px;
    }
    .btn {
        font-size: 14px;
        padding: 8px 20px;
    }
    .title {
        font-size: 20px;
    }
    .offer {
        margin-top: 25px;
    }
    .offer-inner {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }
    .offer__title {
        font-size: 24px;
    }
    .offer__subtitle {
        width: 100%;
        margin-bottom: 40px;
        font-size: 10px;
    }
    .services {
        margin-top: 25px;
    }
    .services-inner {
        margin-top: 25px;
    }
    .services-inner__item {
        width: 220px;
        min-height: 150px;
        margin-bottom: 20px;   
    }
    .services-inner__item img {
        width: 30%;
        margin-bottom: 20px;
    }
    .services-inner__item p {
        font-size: 14px;
        line-height: 20px;
    }
    .about {
        margin-top: -30px;
    }
    .about__descrip {
        font-size: 14px;
        margin-bottom: 25px;
        line-height: 25px;
    }
    .about-inner {
        margin-top: 30px;
    }
    .advantages {
        margin-top: -30px;
    }
    .advantages-inner {
        margin-bottom: 30px;
    }
    .advantages-inner__item img {
        width: 30%;
    }
    .footer {
        margin-top: 50px;
    }
    .footer__social img {
        width: 75%;
    }
    .popup__content {
        width: 295px;
    }
    .popup__content-2 {
        max-width: 550px;
        width: 550px;
        padding: 20px 10px;
    }
    .popup__head img {
        margin-right: 0;
    }
}